.characterListItem {
  padding-bottom: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--background-dark);
}

.characterThumbnail {
  width: 220px;
  height: 220px;
  border-radius: 1rem 1rem 0 0;
}

.characterThumbnailImage {
  width: 220px;
  height: 220px;
  border-radius: 1rem 1rem 0 0;
}

.characterInfo {
  text-align: center;
}

.characterName {
  font-size: 1.6rem;
  color: var(--primary);
  margin-top: 1rem;
}