.characterListItem {
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--background-dark);
}

.characterThumbnail {
  width: 220px;
  height: 220px;
  border-radius: 1rem 1rem 0 0;
}

.characterThumbnailImage {
  width: 220px;
  height: 220px;
  border-radius: 1rem 1rem 0 0;
}

.characterInfo {
  text-align: center;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.characterName {
  font-size: 1.6rem;
  color: var(--primary);
}

.characterPageLink {
  text-decoration: none;
  color: var(--white);
}