.seriesListItem {
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--background-dark);
}

.seriesThumbnail {
  width: 220px;
  height: 220px;
  border-radius: 1rem 1rem 0 0;
}

.seriesThumbnailImage {
  width: 220px;
  height: 220px;
  border-radius: 1rem 1rem 0 0;
}

.seriesInfo {
  text-align: center;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.seriesName {
  font-size: 1.6rem;
  color: var(--primary);
}