.characterName {
  margin: 1rem 0;
}

.characterImage {
  max-height: 48rem;
  border-radius: 1rem;
}

.characterDescription {
  font-size: 1.45rem;
  margin: 1rem 1rem;
}

button {
  margin: 1rem;
  border-radius: 0.5rem;
}

.loadSeries {
  padding: 1rem;
  background-color: var(--background-grey-light);
}

.editCharacter {
  padding: 1rem;
  background-color: var(--pink);
}