.characterName {
  margin: 1rem 0;
}

.characterImage {
  max-height: 48rem;
}

.serieLink {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.6rem;
}

.serieName {
  list-style: none;
}

.characterDescription {
  font-size: 1.45rem;
  margin: 1rem 1rem;
}

.serieName {
  font-size: 1.35rem;
}